@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Lato';



*,
*:before,
*:after {
    box-sizing: border-box;

}

#body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    text-align: center;
}

.container {
    max-width: 1310px;
    width: 92%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid black;
    border-radius: 0 0 0 3px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100px;
    width: 100px;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.site_header_menu {
    display: flex;
}

.site_menu {
    display: flex;
}

a.site_logo {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.site_logo:hover {
    opacity: 0.6;
}

.logo_text {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site_menu_i {
    display: flex;
    justify-content: flex-end;
    opacity: 0.6;
    align-self: center;

}

.site_menu_item::before {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 10%;
    height: 4px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    content: '';
    border-radius: 3px;
    background: #478ac8;
}

a.site_menu_item {
    font-size: 1.375rem;
    text-decoration: none;
    color: black;
    opacity: 0.4;
    font-weight: 600;
}

a.site_menu_item:hover {
    opacity: 1;
}

.site_menu_item {
    margin-left: 85px;
}
/*
section {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  float: left;
  min-height: 100%;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 0 15px 30px;
  background-color: white;
}
*/

.site_menu_item span {
  text-align: center;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
@media screen and (min-width: 992px) {
  section h3 + div span {
    font-size: 36px;
  }
}
.site_menu_item span:before, .site_menu_item span:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
}

span.hover-3:before {
  left: calc(50%);
  background-color: #ad6397;
}
span.hover-3:after {
  right: calc(50%);
  background-color: #ad6397;
}

.site_menu_item:hover span:before, .site_menu_item:hover span:after {
  width: 100%;
  opacity: 1;
}
.site_menu_item:hover span.hover-3:before, .site_menu_item:hover span.hover-3:after,{
  width: 50%;
}
.intr{
    padding-top: 110px;
    padding-bottom: 110px;
       max-width: 1310px;
    width: 92%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.intro{
    display: flex;
}
.info { 
padding-left: 110px;
    
    
}
.title{
    font-size: 3.8rem;
    margin: 0;
}
.subtitle{
    font-size: 2.4rem;
    color:#c6c6c6;
}
.about{
    font-size: 1.4rem;
}